.Login{
  width: 600px;
  height: 400px;
 border: solid #0d6efd;
padding-top: 40px;
padding-left: 50px;
padding-right: 50px;
 margin: auto;
 margin-top: 100px;
 font-size: large;
 background-image: url("assets/user-3331256__340.webp");
  
}
