.header{
    

padding-top: 5px;
    
      color: darkcyan;
      text-align: center;
      background-color: yellow;

}

.user{
    border: solid;
    font-size: large;
    font-style: italic;
    margin: auto;
    background-color: blue;
    height: auto;
    border-radius: 20px;
    
}